.main {
  display: grid;
  place-items: center;
  padding-block: 1rem;
}

.main-content {
  width: calc(100% - 4rem); 
  max-width: 80rem;
  margin: 0 auto;
  height: 100%;
  padding-block: 1rem;
  padding: 2rem;
}