.product-card {
  width: calc(100% - 2rem);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-weight: 500;
  position: relative;
}

.title-product {
  height: 2.2rem;
  width: 100%;
  overflow: hidden;
}

.title-product p {
  height: 2.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  line-clamp: 2;
  box-orient: vertical; 
  display: box;
}

.img {
  width: 100%;
  object-fit: cover;
}

.price {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.float-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}