.product-card {
  width: calc(100% - 2rem);
  box-shadow: var(--box-shadow-default);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-weight: 500;
  position: relative;
  border-radius: .5rem;
}

.title-product {
  height: 2.2rem;
  width: 100%;
  overflow: hidden;
}

.title-product p {
  height: 2.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  line-clamp: 2;
  box-orient: vertical; 
  display: box;
}

.img {
  width: 100%;
  object-fit: cover;
}

.price {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.float-button {
  position: absolute;
  top: .5rem;
  right: .5rem;
}