.header {
  background-color: var(--primary-color);
  color: var(--white-color);
  display: grid;
  place-items: center;
}

.header-content {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  height: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.first-section {
  width: 10rem; 
  height: 100%; 
}

.second-section {
  width: 15rem;
  display: flex;
  justify-content: space-between;
}
